body {
    margin: 0px;
}

header {
    background-color: rgb(109, 109, 109);
    position: fixed;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.headerContents {
    display: flex;
    height: 100%;
    width: 100%;
}

.headerLeft {
    width: 50%;
    display: inline-block;
}

.myIcon {
    height: 100%;
    display: inline-block;
}

.Myname {
    display: inline-block;
    height: 100%;
    margin-left: 5px;
}

.Myname p {
    margin: 0;
    font-size: 225%;
    color: #FFFFFFFF;
    height: 100%;
    display: flex;
    align-items: center;
}

.headerLeft a {
    height: 100%;
    display: flex;
    width: fit-content;
    text-decoration: none;
}

.headerRight {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

@media screen and (max-width: 768px) {
    .headerLeft {
        width: 100%;
    }

    .headerRight {
        display: none;
    }
}

main {
    padding: 100px 5% 40px;
}

@media screen and (max-width: 768px) {
    main {
        padding: 80px 5% 40px;
    }
}

.sns_logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.waku {
    border: 1px solid #333333;
    border-radius: 10px;
    max-width: 1600px;
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}

.center_contents {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
}

.articles {
    width: 100%;
    text-align: center;
}

.articles a {
    display: inline-block;
    width: 45%;
    height: 100%;
    margin: 10px;
    ;
}

@media screen and (max-width: 768px) {
    .articles a {
        display: block;
        width: 100%;
        height: 100%;
        margin: 10px;
    }
}

.article {
    border: 1px solid #333333;
    border-radius: 10px;
    padding: 10px;
}

.article h3 {
    color: black;
    margin: 0px;
}

.article span {
    display: inline-block;
}

a.button {
    background-color: #498205;
    width: 25%;
    font-size: large;
    display: inline-block;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.article_buttons {
    text-align: center;
}

table {
    font-size: larger;
}

@media screen and (max-width: 768px) {
    table.pc {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    table.smartphone {
        display: none;
    }
}

tr {
    margin-bottom: 10px;
}

td {
    padding-bottom: 10px;
    vertical-align: top;
}

td.time {
    padding-right: 10px;
}

td.time p {
    margin: 0px;
}

td span {
    display: inline-block;
}

td.url {
    padding-left: 20px;
}

footer {
    background-color: rgb(200, 200, 200);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}

.return_top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #ffffff;
    background-color: #498205;
    border-radius: 24px;
    text-align: center;
    text-decoration: none;
    font-size: 110%;
    font-weight: bold;
    padding: 10px;
    z-index: 10000;
    /*普段は隠しておく*/
    opacity: 0;
    visibility: hidden;
}

.return_top.active {
    /*activeが付いたら表示*/
    opacity: 1;
    visibility: visible;
}

.return_top.active:hover {
    color: #aabbff
}